xif('$data.lv == 1')
  h1(class='ui header') $data.label
xelse-if('$data.lv == 2')
  h2(class='ui header') $data.label
xelse-if('$data.lv == 3')
  h3(class='ui header') $data.label
xelse
  h4(class='ui header') $data.label
