xif(test='data.lv == 1')
  h1(class='ui header' tag-body='data.renderBody || data.label')
xelse-if(test='data.lv == 2')
  h2(class='ui header' tag-body='data.renderBody || data.label')
xelse-if(test='data.lv == 3')
  h3(class='ui header' tag-body='data.renderBody || data.label')
xelse
  h4(class='ui header' tag-body='data.renderBody || data.label')
