div(class='ui $data.ui modal')
  xif('$data.header')
    .header $data.header
  xif('$data.content')
    .content
      $data.content
  xif('$data.img')
    .image.content
      ui-image(attrs='$data.img')
      .description
        $data.img.caption
  xif('$data.actions')
    .actions
      for(each='action in data.actions')    
        div(class='ui $action.ui button') $action.label
