extends ../layouts/base.jade
block content
  .ui.vertical.segment
    .ui.middle.aligned.stackable.grid.container
      .row
        .eight.wide.column            
          container-list(list='out.global.lists.services' label='Services')
