extends ../layouts/repos-layout.jade
block content
  .ui.vertical.segment
    .ui.middle.aligned.stackable.grid.container
      .row
        .eight.wide.column            
          container-list(list='out.global.lists.repos' label='Repos')
              
