.item
  .right.floated.content
    .ui.button
      i.remove.icon
      | Remove
  img.ui.avatar.image(src='$data.image')
  .content
    a.header 
      .ui.mini.input
        input(value='$data.name')
    .description 
      | $data.title
