.item
  .right.floated.content
    .ui.button
      i.remove.icon
      | $data.remove
  img.ui.avatar.image(src='$data.image')
  .content
    a.header 
      .ui.mini.input
        input(name='$data.name' value='$data.value')
    .description 
      | $data.title
