div(class='ui $data.ui search')
  input.prompt(type='text', placeholder='${data.placeholder}')
  xif('$data.icon')
    ui-icon(attrs='$data.icon')
  xif('$data.results')
    .results
      $data.results
