.two.fields
  ui-selector(field='twelve wide' ui='meta-data' name='$data.name', multiple='true' list='data.list' refList='data.refList')
  ui-button(field='four wide' icon='add' ui='right floated' label='$data.addLabel')
