doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="semantic.min.css")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")    
    script(src="semantic.min.js")    
    block title
      title $data.title
    lasso-head
  body
    block content
      h1 $data.header
    lasso-body
    browser-refresh(enabled="true")
