//- lasso-page(name="$data.name" package-path="./dependencies/${data.name}.browser.json")
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // Site Properities
    title Manticore CMS
    script(src='js/sortablejs/Sortable.min.js')
    link(rel="stylesheet" type="text/css" href="semantic.min.css")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")    
    script(src="semantic.min.js")   
    link(rel='stylesheet', type='text/css', href='home/page.css')      
    script(src='home/page.js')
     
    block title
      title $data.title
    //- lasso-head
  body
    block menus
      follow-menu(ui='' menu='out.global.menus.top')
      // try: labeled icon
      sidebar-menu(ui='left inverted labeled' menus='out.global.menus.sidebar')
      .pusher
        menu-container(ui='top-menu sticky center aligned')
          top-menu(menu='out.global.menus.top')
            
        block content
          h1 $data.header

    //- lasso-body
    browser-refresh(enabled="true")
