
<div class="item"><i class="icon ${data.size} ${data.icon} ${data.color} ${data.align}"></i>
  <div class="content"><a class="header">${data.label}</a>
    <div class="description">${data.desc}</div>
  </div>
</div>