.item 
  xif('$data.label')
    $data.label
  xif('$data.icon')
    i(class='$data.icon icon')
  xif('$data.content')
    .content
      xif('$data.link')
        a(href='$data.link.url') ${data.link.label || data.link.url}
      xelse
        xif('$data.header')
          a.header $data.header
        xif('$data.desc')
          $data.desc
        xif('$data.content')
          $data.content
