div(class="ui ${align} container")
  //- Get labels and links from $global
  link-item(active="true" link='./index.html' label="Home")
  link-item(link='./projects.html' label="Projects")
  link-item(link='./teams.html' label="Teams") 
  link-item(link='./repos.html' label="Repos") 
