extends ../layouts/base.jade
block content
  .ui.vertical.segment
    ui-container(ui='middle aligned stackable grid')    
      .row
        .eight.wide.column            
          container-list(list='out.global.lists.teams' label='Teams')
