extends layout.jade
block content
  h1 $data.header  
  h2 $out.global.appName
  ui-card
    card-content(header='card one' meta='here we go')
  h3 CARDS
  ui-cards
    ui-card
      card-content(header='card one' meta='here we go')
  ui-comment(content='data.myComment')
  ui-comments(list='data.comments')
  
  
