extends ../layouts/index-layout.jade
block content
  top-menu(ui='main fixed inverted borderless' list='data.top.menu')          
  ui-sidebar(ui='left vertical inverted labeled icon')
    sidebar-menus(menus='data.sidebar.menus')
  menu-button(ui='black big' data-transition="overlay")
