extends layout.jade
block content
  h1 $data.header  
  h2 $out.global.appName
  icon-list(list="data.lists.users")
  icon-list(list="out.global.lists.repos")
  ui-accordion
    acc-block(active='true' label='Yeah' text="hello world")
