extends ../layouts/index-layout.jade
block content
  h3 Sliders
  ui-form
    check-box(name='male' checked='true' field='Male' type='slider')
    check-box(name='male' checked='true' field='Male')
    check-box(name='male' checked='true' field='Male' type='toggle')
