<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properities-->
    <title>Manticore CMS</title>
    <script src="js/sortablejs/Sortable.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js">   </script>
    <script src="semantic.min.js">  </script>
    <link rel="stylesheet" type="text/css" href="home/page.css">
    <script src="home/page.js"></script>
    <title>$data.title</title>
  </head>
  <body>
    <follow-menu ui="" menus="out.global.menus"></follow-menu>
    <!-- try: labeled icon-->
    <sidebar-menu ui="left inverted labeled" menus="out.global.menus.sidebar"></sidebar-menu>
    <div class="pusher">
      <menu-container ui="top-menu sticky center aligned">
        <top-menu menus="out.global.menus"></top-menu>
      </menu-container>
      <ui-hero title="Manticore.io" caption="Your one stop SAAS shop"></ui-hero>
    </div>
    <browser-refresh enabled="true"></browser-refresh>
  </body>
</html>