<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="semantic.min.css">
    <script src="semantic.min.js">   </script>
    <title>Title</title>
    <lasso-head></lasso-head>
  </head>
  <body>
    <h1>Repo Manager</h1>
    <icon-list items="data.items"></icon-list>
    <lasso-body></lasso-body>
    <browser-refresh enabled="true"></browser-refresh>
  </body>
</html>