extends layout.jade
block content
  h1 $data.header  
  h2 $out.global.appName
  icon-list(list="data.lists.users")
  icon-list(list="out.global.lists.repos")
  ui-accordion(ui='large')
    acc-block(active='true' label='Hello there' text="Page 1")
    acc-block(active='true' text="Page 2")
      OMG! I'm the body of an accordion
