extends ../layouts/index-layout.jade
block content
  follow-menu(ui='' menu='data.top.menu')
  ui-sidebar(ui='left vertical inverted labeled icon')
    sidebar-menus(menus='data.sidebar.menus')
  .pusher
    .ui.sticky.inverted.vertical.center.aligned.segment
      .ui.container
        top-menu(ui='' menu='data.top.menu')
