div(class='ui $data.ui menu')
  .ui.container
    for(each='item in data.menu.main')
      link-item(item)

    .right.menu
      for(each='item in data.menu.session')
        .item
          a(class='ui button' href='$item.link}') $item.label
