.comment
  xif(test='$data.avatar')
    avatar-img(attrs='$data.avatar')
  .content
    a.author Matt
    xif(test='$data.meta')
      .metadata
        span(class='$data.meta.ui') $data.meta.label
    div(class='text' tag-body='data.renderBody || data.text')
    xif(test='$data.actions')
      .actions
        for(each='action in data.actions')
          a(class='$action.ui') $action.label
