ui-form
  for(each='(name, item) in data.form')
    txt-input(if='item.textinput' fieldWrap='true' name='$name' placeholder='$item.placeholder' value='$item.value')
    multi-selector(if='item.multiSelect' name='$name' list='item.list' refList='item.refList' addLabel='$item.addLabel')
    
