.event
  .label
    img(src='$data.src')
  .content
    xif('$data.date')
      .date
        $data.date
    xif('$data.content')
      .summary
        $data.content
    xif('$data.meta')
      .meta
        $data.meta
    xif('$data.extra')
      .extra
        $data.extra
