a(class='$data.status step')
  xif(test='data.icon')
    ui-icon(icon='$data.icon')
  xif(test='data.hasContent')
    .content
      xif(test='data.label')
        .title $data.label
      xif(test='data.desc')
        .description $data.desc
