a(class='$data.status step')
  xif('${data.icon}')
    ui-icon(icon='$data.icon')
  xif('${data.hasContent}')
    .content
      xif('$data.label')
        .title $data.label
      xif('$data.desc')
        .description $data.desc
