
<div class="item"><img src="/avatars/${data.avatar}.jpg" class="ui avatar image">
  <div class="content"><a class="header">${data.name}</a>
    <div class="description">${data.desc}</div>
  </div>
</div>